---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de mi"
	description="Presentacion perfil"
	pubDate={new Date('Jul 06 2023')}
	updatedDate={new Date('Julio  07 2023')}
	heroImage=""
>

<p>
			
¡Hola! Soy Richard, alias Transmix, un apasionado de la tecnología, los deportes, la música, etc. Me encanta sumergirme en el mundo de la programación y 
descubrir nuevas formas de desarrollar soluciones para mis proyectos. 
</p>
<p>
	Cuando no estoy frente a mi computadora, me gusta salir al campo de fútbol a entrenar
 o jugar algún partido; disfruto mucho del juego y prefiero el deporte real que ver un partido o jugar videojuegos, aunque también hay videojuegos que me apasionan. 
 Otro de mis hobbies es tocar la guitarra y escuchar música. También me encanta deslizarme sobre ruedas, en particular, en patines en línea y patinar con patines tipo Freeskate; 
 esto lo hago en mi tiempo libre.
</p>
<p>
En cuanto a mi carrera, trabajo en el campo de la mecánica automotriz, especializándome en transmisiones automáticas. 
Me apasiona aprender y solucionar los fallos en sistemas de los automóviles. Me gusta aprender sobre el funcionamiento de cada sistema de los automóviles para poder así resolver los 
problemas. 
</p>
<p>
Combino mi amor por la tecnología, el deporte y los vehículos en mi vida diaria, siempre buscando nuevos desafíos y oportunidades para crecer tanto personal 
como profesionalmente.
</p>

		<p>Los Lenguajes que me gusta programar:</p>
			<ul>
				<li>Empece a conocer la programacion con PHP</li>
				<li>Luego e seguido con javaScript y Typescript</li>
				<li> HTML CSS</li>
				<li>Tengo planeado aprender Python </li>
				<li>Y si la vida me lo permite  tambien Rust</li>
			</ul>


</Layout>
