---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋 Bienvenidos</h1>
			<p>Aqui encontraras referencias de aprendizaje de diferentes temas como:</p>
		
			<p>Temas de interes.</p>
			<ul>
				<li>Programacion</li>
				<li>Patines Freeskate</li>
				<li>Mecanica, Transmsiones Automaticas y direcciones hidrulicas etc.</li>
				<li>Tecnologia,Robotica </li>
				<li>Salud, Nutricion</li>
				<li>Cerveza, Vinos</li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
