---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> Bienvenidos a mi pagina de perfil</h1>
			<p>
				¡Hola! Soy Richard Flores, un apasionado de la tecnología y los deportes. Me encanta sumergirme en el mundo de la programación y descubrir nuevas formas de desarrollar soluciones a mis proyectos. Cuando no estoy frente a mi computadora, me encontrarás en el campo de fútbol entrenando o jugando algun partido, disfrutando del juego y dejando que mi pasión por el deporte fluya. Además, me encanta deslizarme sobre ruedas en patines en linea y patinar en particular el Freeskate en mi tiempo libre. En cuanto a mi carrera, trabajo en el fascinante campo de la mecánica automotriz, especializándome en transmisiones automáticas. Me apasiona aprender sobre los intrincados sistemas que hacen que los automóviles funcionen sin problemas. Combino mi amor por la tecnología, el deporte y los vehículos en mi vida diaria, siempre buscando nuevos desafíos y oportunidades para crecer tanto personal como profesionalmente.
			</p>
		
			<p>Los Lenguajes que me gusta programar:</p>
			<ul>
				<li>Empece como cualquier programador con PHP</li>
				<li>Luego e seguido con javaScript y Typescript</li>
				<li> HTML CSS</li>
				<li>Tengo planeado aprender Python </li>
				<li>Y si la vida me lo permite  tambien Rust</li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
